@page
@model WebApp.Pages.Sales.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].BranchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].MenuItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].PortionSize)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Sales.Count == 0)
    {
        <tr>
            <td colspan="5" class="text-center text-danger"> No Data to display!</td>
        </tr>
    }
    @foreach (var item in Model.Sales)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PortionSize)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
